Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

Fixes commit race condition (#161)
  indexer/src/actions/github/fetch/commits.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: metric definitions docs (#132)
  docs/grants.md
  docs/metrics/dependents.md
  docs/metrics/developers.md
  docs/metrics/transactions.md
  docs/metrics/users.md
Due: prettier --write

feat: lookup a contract name using etherscan
  indexer/utilities/etherscan/lookup-contract-name.py
Due: none

feat: lookup a contract name using etherscan (#163)
  indexer/utilities/etherscan/lookup-contract-name.py
Due: none

Enable github forks with stars
  .github/workflows/indexer-manual.yml
  indexer/prisma/migrations/20230901220302_add_new_fork_and_watcher_events_and_contributors/migration.sql
  indexer/prisma/schema.prisma
  indexer/src/actions/github/fetch/common.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/actions/github/fetch/stars.ts
  indexer/src/cli.ts
  indexer/src/events/github/unpaginate.ts
Due: eslint --ignore-path .gitignore, prettier --write

lint fixes
  indexer/src/actions/github/fetch/repo-followers.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix safe reference
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/pull-requests.ts
Due: eslint --ignore-path .gitignore, prettier --write

Record all forks data (#164)
  .github/workflows/indexer-manual.yml
  indexer/prisma/migrations/20230901220302_add_new_fork_and_watcher_events_and_contributors/migration.sql
  indexer/prisma/schema.prisma
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/actions/github/fetch/stars.ts
  indexer/src/cli.ts
  indexer/src/events/github/unpaginate.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: query all project events
  indexer/supabase/queries/get_project_events.sql
Due: none

update gitignore
  indexer/supabase/.gitignore
Due: none

feat: get blockchain users
  indexer/supabase/queries/get_project_users.sql
Due: none

initial project queries (#165)
  indexer/supabase/.gitignore
  indexer/supabase/queries/get_project_events.sql
  indexer/supabase/queries/get_project_users.sql
Due: none

feat: stars query
  indexer/supabase/queries/get_stars_by_project.sql
Due: none

feat: gh contributors query
  indexer/supabase/queries/get_contributors_by_project.sql
Due: none

fix: insert project comment
  indexer/supabase/queries/get_project_users.sql
Due: none

fix: add query explanation
  indexer/supabase/queries/get_contributors_by_project.sql
Due: none

some additional queries (#166)
  indexer/supabase/queries/get_contributors_by_project.sql
  indexer/supabase/queries/get_project_users.sql
  indexer/supabase/queries/get_stars_by_project.sql
Due: none

feat: install TailwindCSS
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

feat: install TailwindCSS (#174)
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

fix: eslint should prevent you from using restricted stuff
  .eslintrc.json
Due: prettier --write

fix: eslint should prevent you from using restricted stuff (#175)
  .eslintrc.json
Due: prettier --write

Fix pull-request artifacts
  indexer/src/actions/github/fetch/pull-requests.ts
Due: eslint --ignore-path .gitignore, prettier --write

Fix pull-request artifacts (#182)
  indexer/src/actions/github/fetch/pull-requests.ts
Due: eslint --ignore-path .gitignore, prettier --write

Track original author
  indexer/src/actions/github/fetch/pull-requests.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: EventDataProvider
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/common.ts
  frontend/lib/errors.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore, prettier --write

feat: EventDataProvider (#184)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/common.ts
  frontend/lib/errors.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore, prettier --write

Track original author for Issues and PRs (#183)
  indexer/src/actions/github/fetch/pull-requests.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: get contributor metrics
  docs/grants.md
  indexer/supabase/queries/get_devs_and_users_stats.sql
Due: prettier --write

Add contributor groups
  indexer/prisma/migrations/20230907212459_add_contributor_groups/migration.sql
  indexer/prisma/schema.prisma
Due: none

Add contributor groups (#196)
  indexer/prisma/migrations/20230907212459_add_contributor_groups/migration.sql
  indexer/prisma/schema.prisma
Due: none

fix: latency issues in EventDataProvider
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: latency issues in EventDataProvider (#201)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: EventDataProvider bypasses supabase is query is null set
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: EventDataProvider bypasses supabase is query is null set (#202)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

feat: update dynamic routes for Artifact/Project pages
  frontend/app/artifact/[namespace]/[...name]/page.tsx
  frontend/app/project/[...slug]/page.tsx
  frontend/middleware.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: update dynamic routes for Artifact/Project pages (#203)
  frontend/app/artifact/[namespace]/[...name]/page.tsx
  frontend/app/project/[...slug]/page.tsx
  frontend/middleware.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: just use dates for the EventDataProvider query
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: just use dates for the EventDataProvider query (#204)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: SWR caching between charts
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

fix: SWR caching between charts (#205)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore, prettier --write

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
