Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write

feat: add index into Event table
  indexer/prisma/migrations/20230920013235_event_index/migration.sql
  indexer/prisma/schema.prisma
Due: none

feat: add index into Event table (#229)
  indexer/prisma/migrations/20230920013235_event_index/migration.sql
  indexer/prisma/schema.prisma
Due: none

force utc if not specified
  indexer/src/cacher/time-series.test.ts
  indexer/src/utils/ranges.test.ts
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix lint
  indexer/src/cacher/time-series.test.ts
Due: eslint --ignore-path .gitignore, prettier --write

Range: Force UTC (#231)
  indexer/src/cacher/time-series.test.ts
  indexer/src/utils/ranges.test.ts
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: timescaledb hypertable for events called EventTs
  indexer/prisma/migrations/20230920034753_create_event_ts/migration.sql
  indexer/prisma/migrations/20230920034843_test/migration.sql
  indexer/prisma/schema.prisma
Due: none

fix: timescaledb hypertable for events called EventTs (#232)
  indexer/prisma/migrations/20230920034753_create_event_ts/migration.sql
  indexer/prisma/migrations/20230920034843_test/migration.sql
  indexer/prisma/schema.prisma
Due: none

add: op foundation treasury
  docs/grants.md
Due: prettier --write

update grants.md (#234)
  docs/grants.md
Due: prettier --write

feat: update EventTs table
  indexer/README.md
  indexer/package.json
  indexer/prisma/migrations/20230920203753_tweak_event_ts/migration.sql
  indexer/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write

feat: update EventTs table (#237)
  indexer/README.md
  indexer/package.json
  indexer/prisma/migrations/20230920203753_tweak_event_ts/migration.sql
  indexer/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write

feat: squash Prisma migrations
  indexer/.env.example
  indexer/prisma/migrations/000000000000_squashed_migrations/migration.sql
  indexer/prisma/migrations/20230920204637_event_ts_views/migration.sql
  indexer/prisma/migrations_deprecated/20230602204356_create_tables/migration.sql
  indexer/prisma/migrations_deprecated/20230802023555_projects_collections/migration.sql
  indexer/prisma/migrations_deprecated/20230808233717_AddProjectSlug/migration.sql
  indexer/prisma/migrations_deprecated/20230809014836_add_collection_slug/migration.sql
  indexer/prisma/migrations_deprecated/20230809052221_explicit_many_to_many/migration.sql
  indexer/prisma/migrations_deprecated/20230810020724_add_artifact_type/migration.sql
  indexer/prisma/migrations_deprecated/20230818052705_add_contributor_eoa_address/migration.sql
  indexer/prisma/migrations_deprecated/20230819090829_contributor_unique_name_namespace/migration.sql
  indexer/prisma/migrations_deprecated/20230821162407_add_contract_invoked_aggregate_stats_event_type/migration.sql
  indexer/prisma/migrations_deprecated/20230825000507_change_artifact_unique/migration.sql
  indexer/prisma/migrations_deprecated/20230828184711_add_contributor_namespace_git_email/migration.sql
  indexer/prisma/migrations_deprecated/20230828191601_add_contributor_namespace_git_name/migration.sql
  indexer/prisma/migrations_deprecated/20230829205731_add_additional_github_events/migration.sql
  indexer/prisma/migrations_deprecated/20230830202914_add_additional_issue_events/migration.sql
  indexer/prisma/migrations_deprecated/20230831091037_add_starred_event/migration.sql
  indexer/prisma/migrations_deprecated/20230901220302_add_new_fork_and_watcher_events_and_contributors/migration.sql
  indexer/prisma/migrations_deprecated/20230907212459_add_contributor_groups/migration.sql
  indexer/prisma/migrations_deprecated/20230912174703_add_details_to_contributors/migration.sql
  indexer/prisma/migrations_deprecated/20230913233330_add_logs_and_jobs/migration.sql
  indexer/prisma/migrations_deprecated/20230919085740_ranged_event_pointers/migration.sql
  indexer/prisma/migrations_deprecated/20230919131017_add_ranged_pointer_version/migration.sql
  indexer/prisma/migrations_deprecated/20230920013235_event_index/migration.sql
  indexer/prisma/migrations_deprecated/20230920034753_create_event_ts/migration.sql
  indexer/prisma/migrations_deprecated/20230920034843_test/migration.sql
  indexer/prisma/migrations_deprecated/20230920203753_tweak_event_ts/migration.sql
  indexer/prisma/migrations_deprecated/migration_lock.toml
  indexer/prisma/schema.prisma
Due: none

Fixes for importOssDirectory
  indexer/package.json
  indexer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
  indexer/src/db/entities.ts
  indexer/src/events/github/getOrgRepos.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

fix lockfile
  pnpm-lock.yaml
Due: none

ImportOssDirectory Fixes (#244)
  indexer/package.json
  indexer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
  indexer/src/db/entities.ts
  indexer/src/events/github/getOrgRepos.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

more cacher fixes
  indexer/src/cacher/repository.ts
  indexer/src/cacher/time-series.test.ts
  indexer/src/cacher/time-series.ts
Due: eslint --ignore-path .gitignore, prettier --write

Fixes for updated caching fixes
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

add scheduler
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/jobs.ts
  indexer/src/scheduler/pointers.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore, prettier --write

additional range factories
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

funding events collector uses new interface
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/cli.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix bad merge
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix time series tests
  indexer/src/cacher/time-series.test.ts
Due: eslint --ignore-path .gitignore, prettier --write

still not working
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore, prettier --write

finally working
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/cacher/time-series.test.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/jobs.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix lint
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/cli.ts
  indexer/src/db/entities.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/pointers.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore, prettier --write

Scheduler/Collector Interface (#246)
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/cacher/repository.ts
  indexer/src/cacher/time-series.test.ts
  indexer/src/cacher/time-series.ts
  indexer/src/cli.ts
  indexer/src/db/entities.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/jobs.ts
  indexer/src/scheduler/pointers.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/ranges.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: migrating from prisma to TypeORM
  indexer/.env.example
  indexer/README.md
  indexer/package.json
  indexer/prisma/migrations/20230602204356_create_tables/migration.sql
  indexer/prisma/migrations/20230802023555_projects_collections/migration.sql
  indexer/prisma/migrations/20230808233717_AddProjectSlug/migration.sql
  indexer/prisma/migrations/20230809014836_add_collection_slug/migration.sql
  indexer/prisma/migrations/20230809052221_explicit_many_to_many/migration.sql
  indexer/prisma/migrations/20230810020724_add_artifact_type/migration.sql
  indexer/prisma/migrations/20230818052705_add_contributor_eoa_address/migration.sql
  indexer/prisma/migrations/20230819090829_contributor_unique_name_namespace/migration.sql
  indexer/prisma/migrations/20230821162407_add_contract_invoked_aggregate_stats_event_type/migration.sql
  indexer/prisma/migrations/20230825000507_change_artifact_unique/migration.sql
  indexer/prisma/migrations/20230828184711_add_contributor_namespace_git_email/migration.sql
  indexer/prisma/migrations/20230828191601_add_contributor_namespace_git_name/migration.sql
  indexer/prisma/migrations/20230829205731_add_additional_github_events/migration.sql
  indexer/prisma/migrations/20230830202914_add_additional_issue_events/migration.sql
  indexer/prisma/migrations/20230831091037_add_starred_event/migration.sql
  indexer/prisma/migrations/20230901220302_add_new_fork_and_watcher_events_and_contributors/migration.sql
  indexer/prisma/migrations/20230907212459_add_contributor_groups/migration.sql
  indexer/prisma/migrations/20230912174703_add_details_to_contributors/migration.sql
  indexer/prisma/migrations/20230913233330_add_logs_and_jobs/migration.sql
  indexer/prisma/migrations/20230919085740_ranged_event_pointers/migration.sql
  indexer/prisma/migrations/20230919131017_add_ranged_pointer_version/migration.sql
  indexer/prisma/migrations/20230920013235_event_index/migration.sql
  indexer/prisma/migrations/20230920034753_create_event_ts/migration.sql
  indexer/prisma/migrations/20230920034843_test/migration.sql
  indexer/prisma/migrations/20230920203753_tweak_event_ts/migration.sql
  indexer/prisma/migrations/migration_lock.toml
  indexer/prisma/schema.prisma
  indexer/src/config.ts
  indexer/src/db/data-source.ts
  indexer/src/db/orm-entities.ts
  indexer/src/db/prisma-client.ts
  indexer/tsconfig.json
  indexer/utilities/database/psql.sh
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

feat: migrating from prisma to TypeORM (#243)
  indexer/.env.example
  indexer/README.md
  indexer/package.json
  indexer/prisma/migrations/20230602204356_create_tables/migration.sql
  indexer/prisma/migrations/20230802023555_projects_collections/migration.sql
  indexer/prisma/migrations/20230808233717_AddProjectSlug/migration.sql
  indexer/prisma/migrations/20230809014836_add_collection_slug/migration.sql
  indexer/prisma/migrations/20230809052221_explicit_many_to_many/migration.sql
  indexer/prisma/migrations/20230810020724_add_artifact_type/migration.sql
  indexer/prisma/migrations/20230818052705_add_contributor_eoa_address/migration.sql
  indexer/prisma/migrations/20230819090829_contributor_unique_name_namespace/migration.sql
  indexer/prisma/migrations/20230821162407_add_contract_invoked_aggregate_stats_event_type/migration.sql
  indexer/prisma/migrations/20230825000507_change_artifact_unique/migration.sql
  indexer/prisma/migrations/20230828184711_add_contributor_namespace_git_email/migration.sql
  indexer/prisma/migrations/20230828191601_add_contributor_namespace_git_name/migration.sql
  indexer/prisma/migrations/20230829205731_add_additional_github_events/migration.sql
  indexer/prisma/migrations/20230830202914_add_additional_issue_events/migration.sql
  indexer/prisma/migrations/20230831091037_add_starred_event/migration.sql
  indexer/prisma/migrations/20230901220302_add_new_fork_and_watcher_events_and_contributors/migration.sql
  indexer/prisma/migrations/20230907212459_add_contributor_groups/migration.sql
  indexer/prisma/migrations/20230912174703_add_details_to_contributors/migration.sql
  indexer/prisma/migrations/20230913233330_add_logs_and_jobs/migration.sql
  indexer/prisma/migrations/20230919085740_ranged_event_pointers/migration.sql
  indexer/prisma/migrations/20230919131017_add_ranged_pointer_version/migration.sql
  indexer/prisma/migrations/20230920013235_event_index/migration.sql
  indexer/prisma/migrations/20230920034753_create_event_ts/migration.sql
  indexer/prisma/migrations/20230920034843_test/migration.sql
  indexer/prisma/migrations/20230920203753_tweak_event_ts/migration.sql
  indexer/prisma/migrations/migration_lock.toml
  indexer/prisma/schema.prisma
  indexer/src/config.ts
  indexer/src/db/data-source.ts
  indexer/src/db/orm-entities.ts
  indexer/src/db/prisma-client.ts
  indexer/tsconfig.json
  indexer/utilities/database/psql.sh
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, prettier --write

remove a bunch of unused code
  indexer/src/actions/github/fetch/issueClosed.ts
  indexer/src/actions/github/fetch/issueFiled.ts
  indexer/src/actions/github/fetchIssues/index.ts
  indexer/src/actions/github/upsertOrg/createEventPointersForOrg.ts
  indexer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  indexer/src/actions/github/upsertOrg/index.ts
  indexer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
Due: eslint --ignore-path .gitignore, prettier --write

Remove more unused files
  indexer/src/events/github-outdated.ts
Due: eslint --ignore-path .gitignore, prettier --write

more unused
  indexer/src/events/github/getGithubPointer.ts
  indexer/src/events/github/getRepoIusses.ts
  indexer/src/events/github/getRepositoryCreatedAt.ts
Due: eslint --ignore-path .gitignore, prettier --write

Delete Many Unused Files (#247)
  indexer/src/actions/github/fetch/issueClosed.ts
  indexer/src/actions/github/fetch/issueFiled.ts
  indexer/src/actions/github/fetchIssues/index.ts
  indexer/src/actions/github/upsertOrg/createEventPointersForOrg.ts
  indexer/src/actions/github/upsertOrg/createEventPointersForRepo.ts
  indexer/src/actions/github/upsertOrg/index.ts
  indexer/src/actions/github/upsertOrg/upsertGithubReposForOrg.ts
  indexer/src/events/github-outdated.ts
  indexer/src/events/github/getGithubPointer.ts
  indexer/src/events/github/getRepoIusses.ts
  indexer/src/events/github/getRepositoryCreatedAt.ts
Due: eslint --ignore-path .gitignore, prettier --write

setting up a way to run db tests
  docker/compose.yaml
  docker/install.sh
Due: none

Docker to run db tests (#249)
  docker/compose.yaml
  docker/install.sh
Due: none

more docker setup
  docker/compose.yaml
Due: none

move jobs repository around
  indexer/src/db/jobs.ts
Due: eslint --ignore-path .gitignore, prettier --write

Fix some docker setup (#250)
  docker/compose.yaml
Due: none

move jobs repository around (#251)
  indexer/src/db/jobs.ts
Due: eslint --ignore-path .gitignore, prettier --write

wip
  indexer/src/db/entities.ts
Due: eslint --ignore-path .gitignore, prettier --write

Red lines gone in this file
  indexer/src/db/entities.ts
Due: eslint --ignore-path .gitignore, prettier --write

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
